.app-header {
  display: flex;
  width: 100%;
  padding: 10px;
  font-weight: 400;

  .nav-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1.5rem;
    a {
      padding: 0.6em;
    }
    a:hover {
    }
  }
}

.active {
  font-weight: 600;
  background-color: rgba(168, 239, 255, 0.9);
  border-radius: 16px;
}

.logo {
  text-decoration: none;
  background-color: #fff;
}

.bm-burger-button {
  display: none;
}
