.field-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  background: url('https://fantasy.premierleague.com/static/media/pitch-default.dab51b01.svg') center top / 625px 460px  no-repeat;
  // background-size: 625px 460px;

  .dashboard-gk,
  .dashboard-def,
  .dashboard-mid,
  .dashboard-at {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
.dashboard-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  p {
    font-size: 0.8rem;
  }
  img {
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .field-container {
  width: 100%;
  }
}
